<head>

  <!-- External Css -->
  <link rel="stylesheet" href="../../../assets/front/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="../../../assets/front/css/themify-icons.css" />
  <link rel="stylesheet" href="../../../assets/front/css/et-line.css" />
  <link rel="stylesheet" href="../../../assets/front/css/bootstrap-select.min.css" />
  <link rel="stylesheet" href="../../../assets/front/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../../assets/front/css/plyr.css" />
  <link rel="stylesheet" href="../../../assets/front/css/flag.css" />
  <link rel="stylesheet" href="../../../assets/front/css/slick.css" />
  <link rel="stylesheet" href="../../../assets/front/css/owl.carousel.min.css" />
  <link rel="stylesheet" href="../../../assets/front/css/jquery.nstSlider.min.css" />

  <!-- Custom Css -->
  <link rel="stylesheet" type="text/css" href="../../../assets/front/css/main.css">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7CRoboto:300i,400,500" rel="stylesheet">

  <!-- Favicon -->
  <link rel="icon" href="../../../assets/front/images/favicon.png">
  <link rel="apple-touch-icon" href="../../../assets/front/images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../../../assets/front/images/icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../../../assets/front/images/icon-114x114.png">

</head>
<app-header></app-header>
<app-footer></app-footer>
